@import '~common_styles/colors'

.numbers-section
    background-image: linear-gradient(-180deg,#e9f3f9 40%,#f2ffff)

.journey-container
    padding-bottom: 3rem

.journey-heading
    color: $shuttle-gray
    font-size: 38px
    font-weight: 900

.journey-description
    font-size: 28px
    color: $shuttle-gray-dark
    line-height: 38px
    font-weight: 300
    margin-bottom: 1rem

.journey-number
    margin-top: 1rem
    margin-top: 3rem

.journey-number-detail
    padding-bottom: 1.5rem
    padding-top: 1.5rem

.journey-box
    height: 100%
    border: 1px dashed #bfe2fa
    border-radius: 5px
    width: 100%
    margin-bottom: 15px
    position: relative
    text-align: center
    padding-top: 1.5rem
    padding-left: 1rem
    padding-right: 1rem


.d-flex
    display: flex

.flex-row
    flex-direction: row

.journey-box-title
    font-size: 35px
    color: #5e656a
    margin-bottom: .25rem

.journey-box-description
    font-size: 16px
    color: #5e656a
    line-height: 1.2


.flex-vertical-horizontal-center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
