/*.screen-slider .item
    background: url('https://colorlib.com/etc/colid/images/mobile2.png') no-repeat scroll center center / auto 100%;
    padding: 56px 22px;
    display: inline-block;
    margin: auto;*/

.screen-slider
    :global(.owl-carousel .owl-item)
        text-align: center

.screen-slider 
    :global(.owl-controls)
        position: absolute;
        left: 0;
        top: 100%;

.screen-slider 
    :global(.owl-controls .owl-nav) > div
        display: inline-block;
        margin: 0 15px;
        font-size: 20px;
        text-align: center;
        position: relative;

.screen-slider 
    :global(.owl-controls .owl-nav)
        position: relative;
        margin-top: 0;

.screen-slider 
    :global(.owl-controls .owl-nav)
        &::after
            content: "/";
            position: absolute;
            left: 50%;
            top: 12px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%)
