// colors
$white ?= #ffffff
$black ?= #000000
$bluey-grey ?= #7f94ad
$dark-blue-grey ?= #203142
$dark-slate-blue ?= #1a465b
$dark-grey-blue ?= #263748
$dark ?= #243444
$pale-grey ?= #ecf0f1
$seashell ?= #f1f1f1
$shamrock-green ?= #00ce5e
$slate ?= #3c4b5a
$teal-blue ?= #008daf
$tomato ?= #e74c3c
$turquoise-blue ?= #00a1c7
$light-blue-grey ?= #c4cdd3

// toast
$dark-mint ?= #45cc82
$butterscotch ?= #ffc240
$grapefruit ?= #f35f5f

// admin page bg
$porcelain ?= #e9eeef

// share page bg
$alabaster ?= #fafafa
$light-porcelain ?= #f6f8f9

// share page
$navy ?= #002f41
$cool-grey ?= #93a9b2
$neon-red ?= #e71d36
$pumpkin-orange ?= #ff6f00
$tealish ?= #2ec4b6
$aqua-blue ?= #00bdea
$greenish-teal ?= #2ec476
$red ?= #c70000

// brand-colors
$facebook ?= #3b5998
$google-red ?= #db4437


//playable colors
$playable-green ?=#0EC573
$shuttle-gray ?=#5E656A
$shuttle-gray-dark ?=#586065