$screen-xs = 320px
$screen-sm = 768px
$screen-md = 993px
$screen-lg = 1024px
$screen-xl = 1439px

$screen-sizes = {
    xs: $screen-xs
    sm: $screen-sm
    md: $screen-md
    lg: $screen-lg
    xl: $screen-xl
}
