.mainmenu-area
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
    -webkit-transition: 0.3s;
    transition: 0.3s;

.mainmenu-area.affix
    background-color: #138fc2;

.mainmenu-area a
    color: #ffffff;