.item
    background: url('https://colorlib.com/etc/colid/images/mobile2.png') no-repeat scroll center center / auto 100%
    padding: 56px 22px;
    display: inline-block;
    margin: auto;

.mobile-image
	width:100% 
	display:block
	position:absolute


.mobile-iframe-container
	display: inline-block 
	width:320px
	height:750px
	position:relative
	margin-top:-80px

.iframe-mobile-image
	width:100%
	display:block
	position:absolute

.iframe-try-me-image
	position:absolute
	left:20px
	top:95px
	width:280px
	height:500px

.mobile-iframe
	position:absolute
	left:20px
	top:95px

.mobile-spinner
    display: flex
    justify-content: center
    align-items: center
    width:280px
    height:498px
    background: #ffffff

@keyframes grow {
    from {transform: scale(1);}
    to {transform: scale(0.9);}
}

.grow-anim
    animation-name: grow
    animation-duration: 0.5s
    animation-iteration-count: infinite
    animation-direction: alternate


.background-image-opacity
	opacity: 0.5

.mobile-iframe-background
	background: #ffffff