.address-section
    background-color: #282c34

.flex-vertical-horizontal-center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.footer-container
    padding-bottom: 3rem
    padding-top: 3rem

.footer-container-div
    margin-top: 3rem

.addres-container
    font-size: 24px
    color: #fff
    letter-spacing: 0

.address-ul
    padding-left: 0
    list-style: none

.city
  font-size: 18px
  color: #9da7b9

.come-work-with-us
    margin-bottom: 3rem

.come-work-with-us-description
    font-size: 18px
    color: #9da7b9
    letter-spacing: 0
    line-height: 28px

.come-work-with-us-description-careers
    color: #37a744
    font-size: 18px
    text-decoration: underline

.social-links
    padding-left: 4rem
    text-align: center

.social-twitter
    padding-left: 1rem

.bottom-bar
    height: 28px
    background-color: #1f2229;
    overflow: hidden;

.copyright-footer
    height: 100%

.copy-right
    color: #80838a
    font-size: 14px
    float: left
    margin-bottom: 0

.privacy
    color: #80838a
    font-size: 14px
    padding-left: 1rem

.break
    display: none
